<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>KSL Notifier found these new items</h1>

  <% @listings_by_item.each do |item, listings| %>
    <h2><%= item.name %></h2>

    <% listings.each do |listing| %>
      <%= link_to("#{listing.title} - #{humanized_money_with_symbol(listing.price)}", listing.link) %><br/>
    <% end %>
  <% end %>

</body>
</html>